.page-scrollbar {
  scrollbar-color: #FFF5EB #885A89;
}

.resume-holder:hover {
  box-shadow: #885A89 0px 0px 10px 5px;
  border-color: #885A89;
  text-decoration: underline;
  cursor: pointer;
}

.resume-link:hover{
  text-decoration: underline;
}

.no-scrollbar {
  scrollbar-width: none;
}